/* selector {
    property: value;
} */
* {
    color: green;
}
li {
    color: blue;
}

#special {
    color: pink;
}

.red {
    background: yellow;
}

button: hover {
    color: red;
    background: beige;
}

